.header {
  margin-top: 2rem;
}
.header__inner {
  padding: 0.8rem 1.4rem;
  background-color: $color-white;
  box-shadow: $shadow-card;

  border-radius: $radius10;
}

.header__row {
  align-items: center;
}

