.intro__text {
  font-size: 1.2rem;
  color: $color-syren;
}

.intro__title {
  padding: 2rem 0;
  font-size: 3.2rem;
  line-height: 1.2rem;
  color: $color-black;
  font-weight: 600;
}

.intro__subtitle {
  font-size: 1.6 rem;
  color: $color-black;
  font-weight: 400;
  margin-bottom: 2rem;
}

.intro__subtitle--pink {
  color: $color-pinky;
}
