<footer class="footer">
  <div class="container">
    <div class="social">
      <div class="social__text">
        Social Media
      </div>
      <a class="social__link" href="#">
        <svg class="social__icon">
          <use xlink:href="#facebook"></use>
        </svg>
      </a>
      <a class="social__link" href="#">
        <svg class="social__icon">
          <use xlink:href="#inst"></use>
        </svg>
      </a>
      <a class="social__link" href="#">
        <svg class="social__icon">
          <use xlink:href="#linked"></use>
        </svg>
      </a>
      <a class="social__link" href="#">
        <svg class="social__icon">
          <use xlink:href="#heart"></use>
        </svg>
      </a>
    </div>
  </div>
</footer>
