$color-salad: #72d8ca;
$color-blue: #6499b9;
$color-syren: #8078a5;
$color-pinky: #deb3cb;
$color-gray: #ddd5dc;
$color-background: #f5f6fa;
$color-black: #121212;
$color-white: #fff;

$radius10: 10px;
$radius5: 5px;

$shadow-card: 5px 5px 25px rgba(0, 0, 0, 0.05);

// Bootstrap variables

//Modals

$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: 0.9;
